In [7]:
import pandas as pd
import numpy as np

In [8]:
GDP_yearly_path= "../data/world_country_gdp_usd.csv"

In [9]:
GDP_df = pd.read_csv(GDP_yearly_path, on_bad_lines='skip')

In [10]:
GDP_df

,Country Name,Country Code,year,GDP_USD,GDP_per_capita_USD
0,Aruba,ABW,1960,NaN,NaN
1,Africa Eastern and Southern,AFE,1960,2.129059e+10,162.726326
2,Afghanistan,AFG,1960,5.377778e+08,59.773234
3,Africa Western and Central,AFW,1960,1.040414e+10,107.930722
4,Angola,AGO,1960,NaN,NaN
...,...,...,...,...,...
16487,Kosovo,XKX,2021,9.007159e+09,4986.582469
16488,"Yemen, Rep.",YEM,2021,2.106169e+10,690.759273
16489,South Africa,ZAF,2021,4.199460e+11,6994.211654
16490,Zambia,ZMB,2021,2.120306e+10,1120.630171
16491,Zimbabwe,ZWE,2021,2.621773e+10,1737.173977

In [11]:
GDP_df['GDP_USD'].isna().sum()

3374

In [7]:

# Keeping only years 1970-2021
gdp_df_2= GDP_df.loc[GDP_df["year"]>=1970]

#dropping columns for now
gdp_df_2= gdp_df_2.drop(columns=['Country Name', 'GDP_per_capita_USD'])

#dropping null values
gdp_df_2= gdp_df_2.dropna()

gdp_df_2.isna().sum()

Country Code    0
year            0
GDP_USD         0
dtype: int64

In [8]:
gdp_df_2['Country Code'].unique()

array(['AFE', 'AFG', 'AFW', 'AND', 'ARB', 'ARG', 'AUS', 'AUT', 'BDI',
       'BEL', 'BEN', 'BFA', 'BGD', 'BHS', 'BLZ', 'BMU', 'BOL', 'BRA',
       'BRN', 'BWA', 'CAF', 'CAN', 'CHL', 'CHN', 'CIV', 'CMR', 'COD',
       'COG', 'COL', 'CRI', 'CSS', 'CUB', 'DEU', 'DNK', 'DOM', 'DZA',
       'EAP', 'EAR', 'EAS', 'ECS', 'ECU', 'EGY', 'EMU', 'ESP', 'EUU',
       'FCS', 'FIN', 'FJI', 'FRA', 'GAB', 'GBR', 'GHA', 'GMB', 'GNB',
       'GNQ', 'GRC', 'GRL', 'GTM', 'GUY', 'HIC', 'HKG', 'HND', 'HPC',
       'HTI', 'IBD', 'IBT', 'IDA', 'IDB', 'IDN', 'IDX', 'IND', 'IRL',
       'IRN', 'IRQ', 'ISL', 'ITA', 'JAM', 'JOR', 'JPN', 'KEN', 'KHM',
       'KIR', 'KNA', 'KOR', 'KWT', 'LAC', 'LCN', 'LIC', 'LIE', 'LKA',
       'LMC', 'LMY', 'LSO', 'LTE', 'LUX', 'MAR', 'MCO', 'MDG', 'MEA',
       'MEX', 'MIC', 'MLI', 'MLT', 'MMR', 'MNA', 'MRT', 'MWI', 'MYS',
       'NAC', 'NCL', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'OED',
       'OMN', 'OSS', 'PAK', 'PAN', 'PER', 'PHL', 'PNG', 'PRE', 'PRI',
       'PRT', 'PRY', 'PST', 'PYF', 'QAT', 'RWA', 'SAS', 'SAU', 'SDN',
       'SEN', 'SGP', 'SLE', 'SLV', 'SOM', 'SSA', 'SSF', 'SST', 'SUR',
       'SWE', 'SWZ', 'SYC', 'SYR', 'TCD', 'TEA', 'TGO', 'THA', 'TLA',
       'TMN', 'TSA', 'TSS', 'TTO', 'TUN', 'TUR', 'UGA', 'UMC', 'URY',
       'USA', 'VCT', 'VEN', 'WLD', 'ZAF', 'ZMB', 'ZWE', 'NZL', 'PSS',
       'SLB', 'BRB', 'ARE', 'CYP', 'TON', 'MUS', 'ATG', 'DMA', 'GRD',
       'VUT', 'AGO', 'BGR', 'BHR', 'BTN', 'CHE', 'COM', 'CPV', 'LCA',
       'LDC', 'MDV', 'NAM', 'ETH', 'MHL', 'MNG', 'MAC', 'WSM', 'FSM',
       'ALB', 'LAO', 'DJI', 'VNM', 'ABW', 'GIN', 'ROU', 'TKM', 'UKR',
       'ECA', 'LBN', 'RUS', 'TEC', 'TZA', 'ARM', 'AZE', 'BLR', 'CEB',
       'CZE', 'GEO', 'KAZ', 'KGZ', 'LBY', 'MKD', 'POL', 'SVK', 'TJK',
       'TUV', 'UZB', 'YEM', 'HUN', 'MOZ', 'ERI', 'BIH', 'PSE', 'EST',
       'HRV', 'IMN', 'ISR', 'LTU', 'LVA', 'MDA', 'SRB', 'SVN', 'CHI',
       'FRO', 'SMR', 'LBR', 'MNE', 'PLW', 'TLS', 'STP', 'TCA', 'ASM',
       'GUM', 'MNP', 'VIR', 'CYM', 'SSD', 'XKX', 'NRU', 'CUW', 'MAF',
       'SXM'], dtype=object)

In [9]:
gdp_df_2['Country Code'].nunique()

262

In [10]:
gdp_df_2=gdp_df_2.rename(columns={'Country Code': 'country'})

In [16]:
gdp_df_2.head(3)

     country  year       GDP_USD
2661     AFE  1970  4.486261e+10
2662     AFG  1970  1.748887e+09
2663     AFW  1970  2.350461e+10

In [12]:
#these are the countries in our CO2 data
countries= ['ABW', 'AFG', 'AGO', 'AIA', 'AIR', 'ALB', 'ANT', 'ARE', 'ARG',
       'ARM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA',
       'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL',
       'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHL',
       'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COK', 'COL', 'COM', 'CPV',
       'CRI', 'CUB', 'CYM', 'CYP', 'CZE', 'DEU', 'DJI', 'DMA', 'DNK',
       'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESH', 'ESP', 'EST', 'ETH',
       'FIN', 'FJI', 'FLK', 'FRA', 'FRO', 'GAB', 'GBR', 'GEO', 'GHA',
       'GIB', 'GIN', 'GLP', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GRL',
       'GTM', 'GUF', 'GUY', 'HKG', 'HND', 'HRV', 'HTI', 'HUN', 'IDN',
       'IND', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JOR',
       'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR', 'KWT',
       'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LKA', 'LSO', 'LTU', 'LUX',
       'LVA', 'MAC', 'MAR', 'MDA', 'MDG', 'MDV', 'MEX', 'MKD', 'MLI',
       'MLT', 'MMR', 'MNG', 'MOZ', 'MRT', 'MTQ', 'MUS', 'MWI', 'MYS',
       'NAM', 'NCL', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NZL',
       'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL', 'PRI',
       'PRK', 'PRT', 'PRY', 'PYF', 'QAT', 'REU', 'ROU', 'RUS', 'RWA',
       'SAU', 'SCG', 'SDN', 'SEA', 'SEN', 'SGP', 'SHN', 'SLB', 'SLE',
       'SLV', 'SOM', 'SPM', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ',
       'SYC', 'SYR', 'TCA', 'TCD', 'TGO', 'THA', 'TJK', 'TKM', 'TLS',
       'TON', 'TTO', 'TUN', 'TUR', 'TWN', 'TZA', 'UGA', 'UKR', 'URY',
       'USA', 'UZB', 'VCT', 'VEN', 'VGB', 'VNM', 'VUT', 'WSM', 'YEM',
       'ZAF', 'ZMB', 'ZWE']

In [13]:
len(countries)

210

In [14]:
df=[]
for i in countries:
    if i in gdp_df_2['country'].values:
        df.append(i)

In [15]:
#We are missing 18 countries from  the co2 dataset
len(df)

192

#### HERE IS A LIST WITH THE COUNTRIES TO BE REMOVED FROM CO2 DATA

In [17]:
list_of_missing_countries=[]
for i in countries:
    if i not  in gdp_df_2['country'].values:
        list_of_missing_countries.append(i)

In [18]:
list_of_missing_countries

['AIA',
 'AIR',
 'ANT',
 'COK',
 'ESH',
 'FLK',
 'GIB',
 'GLP',
 'GUF',
 'MTQ',
 'PRK',
 'REU',
 'SCG',
 'SEA',
 'SHN',
 'SPM',
 'TWN',
 'VGB']